.addForm {
  line-height: 23px;
}

.addPlayer {
  margin: 5px;
  padding: 4px;
  width: 30px;
}
.addSess {
  background-color: rgb(152, 212, 240);
  border-radius: 8px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 30px;
  font-family: 'Press Start 2P', cursive;
  height:150px; 
  width:400px; 
  margin: -150px -200px; 
  position:relative;
  top: 300px; 
  left: 50%;
  border-width:20px;
  border-style:outset;
  border-color:#2eb9ce;
}
.addSess:hover {
  border: solid 1px teal;
  background-color: rgb(70, 140, 187);
  border-width:20px;
  border-style:inset;
  border-color:#2eb9ce;
}
.background {
  position:absolute;
  z-index:-1;
  height:100%;
  width: 100%;
}
.names {
  background-color: white;
  border: solid 1px lightblue;
  border-radius: 5px;
  display: inline-block;
  line-height: 20px;
  margin: 2px 2px 2px 2px;
  padding: 5px;
}
.currPlayers, .dateSelect, .gameSelector, .playerSelector, .submit, .showStats, .newPlayer {
  background-color: rgb(228, 240, 250);
  border: 1px solid teal;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
}
.currPlayers {
  overflow: hidden;
}
.headBoard {
  background-color: rgb(169, 255, 255);
  border: 1px solid teal;
  box-sizing: border-box;
  color: white;
  padding: 10px;
  font-size: 30px;
  font-family: 'Press Start 2P', cursive;
  width: 100%;
  text-align: center;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.gameSelector, .playerSelector {
  padding: 10px;
  width: 100%;
}
.gameSelect {
  border-radius: 0px;
}
.leftEntry, .rightEntry {
  flex: 1;
  padding: 5px;
}
.overHead {
  background-color: rgb(169, 255, 255);
  border-width:20px;
  border-style:outset;
  border-color:#2eb9ce;
  box-sizing: border-box;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-family: 'Press Start 2P', cursive;
  font-size: 40px;
  height: 10%;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}
.register {
  border-width:20px;
  border-style:outset;
  border-color:#2eb9ce;
  box-sizing: border-box;
  display: flex;
  padding: 10px;
  position: relative;
}
select {
  border: 0;
  height: 25px;
  outline: 1px solid gray;
  outline-offset: 1px;
  -webkit-border-radius: 0;
}
.submit, .showStats {
  width: 50%;
  background-color: rgb(152, 212, 240);
  border-width:10px;
  border-style:outset;
  border-color:#2eb9ce;
}

.submit:hover, .showStats:hover {
  background-color: rgb(70, 140, 187);
}